

<div class="container narrow" ng-controller="MainController">
	<div class="options_wrap">
		Options:

		<div class="row">
				<div ng-click="activateColor(false)" ng-class="activeColor('B/W')">Black &amp; White</div>
				<div ng-click="activateColor(true)" ng-class="activeColor('Color')">Color</div>
		</div>
		<div class="row">
				
		</div>
		{{orderByField}}

	</div>
	<!-- Printers -->
	<table class="table table-striped">
		<tr class="head">
			<th ng-click="order('id')" ng-class="activeOrder('id')">Net-Print Id</th>
			<th ng-click="order('name')" ng-class="activeOrder('name')">Name</th>
			<th ng-click="order('printer')" ng-class="activeOrder('printer')">Printer</th>
			<th ng-click="order('cents')" ng-class="activeOrder('cents')">Cents</th>
			<th ng-click="order('color')" ng-class="activeOrder('color')">Color</th>
			<th ng-click="order('dpi')" ng-class="activeOrder('dpi')">DPI</th>
			<th ng-click="order('duplex')" ng-class="activeOrder('duplex')">Duplex</th>
		</tr>

		<tr class="filter" ng-repeat="printer in printers | orderBy:orderByField:reverseSort | filter:filters">
			<td>{{printer.id}}</td>
			<td>{{printer.name}}</td>
			<td>{{printer.printer}}</td>
			<td>{{printer.cents}}</td>
			<td>{{printer.color}}</td>
			<td>{{printer.dpi}}</td>
			<td>{{printer.duplex}}</td>
		</tr>
	</table>

	
</div>