<!DOCTYPE html>
<html ng-app="mapsApp">
    <head>
    <meta charset="ISO-8859-1">
    <title>Cornell Printers</title>

    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/styles.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script
      src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
    <script
      src="http://maps.googleapis.com/maps/api/js?sensor=false&language=en"></script>
      <script type="text/javascript" src="js/app.js"></script>
    <link rel="icon" href="img/printer.png" type="image/gif">
    </head>

    <body>
        <div class="container" ng-controller="MapCtrl">
            <h1>Cornell Printers</h1>
            <div class="option-wrap two">
                <span ng-class="isActiveColor('BW')" ng-click="setActiveColor('BW')">B/W</span>
                <span ng-class="isActiveColor('Color')" ng-click="setActiveColor('Color')">Color</span>
            </div>

            <div class="option-wrap">
                <span ng-repeat="price in prices" ng-class="isActivePrice(price)" ng-click="setActivePrice(price)">
                    {{get30(price)}} {{price}} cents
                </span>
            </div>

            <br>
            <div id="map"></div>
           
            <br><br>


            <!-- Printers -->
            <h2>All Printers</h2>
            <div class="option-wrap two">
                <span ng-click="setNYFilter('!ny')" ng-class="isActiveLocation('!ny')">Ithaca</span>
                <span ng-click="setNYFilter('ny')" ng-class="isActiveLocation('ny')">New York</span>
            </div>
            <br>

            <table class="table table-striped">
                <tr class="head">
                    <th ng-click="order('id')" ng-class="activeOrder('id')">Net-Print Id</th>
                    <th ng-click="order('name')" ng-class="activeOrder('name')">Name</th>
                    <th ng-click="order('printer')" ng-class="activeOrder('printer')">Printer</th>
                    <th ng-click="order('cents')" ng-class="activeOrder('cents')">Cents</th>
                    <th ng-click="order('color')" ng-class="activeOrder('color')">Color</th>
                    <th ng-click="order('dpi')" ng-class="activeOrder('dpi')">DPI</th>
                    <th ng-click="order('duplex')" ng-class="activeOrder('duplex')">Duplex</th>
                </tr>

                <tr class="filter" ng-repeat="printer in printers | orderBy:orderByField:reverseSort | filter:NYFilter">
                    <td>{{printer.id}}</td>
                    <td>{{printer.name}}</td>
                    <td>{{printer.printer}}</td>
                    <td>{{printer.cents}}</td>
                    <td>{{printer.color}}</td>
                    <td>{{printer.dpi}}</td>
                    <td>{{printer.duplex}}</td>
                </tr>
            </table>

            <br><br>

            <p><a href="http://www.it.cornell.edu/services/netprint/howto/install/">How to Install Net-Print</a></p>
        </div>
        <div class="footer">
            <div class="container">
                Data from list of <a href="https://net-print.cit.cornell.edu/netprintx-cgi/qfeatures.cgi">Net-Print Printers</a>.
                <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
            </div>
        </div>
    </body>
</html>